<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :address_line_1 %>
  <%= form.text_field :address_line_1 %>
</p>

<p>
  <%= form.label :address_line_2 %>
  <%= form.text_field :address_line_2 %>
</p>

<p>
  <%= form.label :address_line_3 %>
  <%= form.text_field :address_line_3 %>
</p>

<p>
  <%= form.label :town %>
  <%= form.text_field :town %>
</p>

<p>
  <%= form.label :county %>
  <%= form.text_field :county %>
</p>

<p>
  <%= form.label :postcode %>
  <%= form.text_field :postcode %>
</p>

<p>
  <%= form.label :country %>
  <%= form.country_select :country %>
</p>

<p>
  <%= form.label :telephone_number %>
  <%= form.text_field :telephone_number %>
</p>
