<p>
  <%= form.label :card_type%>
  <%= form.collection_select :card_type, PaymentMethod::CARD_TYPES, :to_s, :humanize %>
</p>

<p>
  <%= form.label :cardholder_name %>
  <%= form.text_field :cardholder_name %>
</p>

<p>
  <%= form.label :number %>
  <%= form.text_field :number %>
</p>

<p>
  <%= form.label :month %>
  <%= form.text_field :month, :size => 2 %>
  <%= form.text_field :year, :size => 2 %>
</p>

<p>
  <%= form.label :verification_value %>
  <%= form.text_field :verification_value, :size => 3 %>
</p>
