<li class="payment_method">
<div class="section_container">
  <div class="section">
    <h2><%= h payment_method.organisation %></h2>
    <p>
    Next payment: <%= l payment_method.organisation.next_payment_date %>
    </p>
    <%= render payment_method.organisation.payment_plan %>
    <p>
    Card number: <%= payment_method.last_four_digits.to_s.rjust(4, '0').rjust(16, '*') %>
    </p>
    <p>
    Expiry: 
    <%= 
      l Date.new(payment_method.year, payment_method.month), :format => :month
    %>
    </p>

    <%= button_to 'Cancel this payment', payment_method, :method => :delete %>
  </div>
</div>
</li>
