<% content_for :title, "Login" %>
<% content_for :h1, "Login" %>
<p>
If you have used Simply Agile before, enter your email address and password to continue.
If not, <%= link_to 'sign up', new_user_path %>.
</p>
<p>
We'd love to hear any feedback you have about the system. Please send it to
<%= mail_to 'feedback@besimplyagile.com', 'feedback@besimplyagile.com', :encode => "hex" %>.
</p>

<% content_for :side do %>
<div id="existing_users">
  <h2>Existing users</h2>
  <% form_for User.new, :url => session_path do |f| %>
    <p>
      <%= f.label :email_address %>
      <%= f.text_field :email_address, :class => 'auto_focus', :size => 28 %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, :size => 28 %>
    </p>
    <p class="submit">
      <%= f.submit 'Login' %>
    </p>
  <% end %>
  <p>
  <%= link_to 'Re-send Verification Email', new_verification_notification_path %>
  </p>
</div>

<div id="new_users">
  <h2>New users</h2>
  <p>
    <%= link_to "Sign up today", new_user_path %> to start maximising your
    agile team's potential.
  </p>
</div>
<% end %>
