<% content_for :title, "Welcome to Simply Agile beta" %>

<div id="existing_users">
  <h2>Existing users</h2>
  <% form_for User.new, :url => session_path do |f| %>
    <p>
      <%= f.label :email_address %>
      <%= f.text_field :email_address, :class => 'auto_focus' %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p class="submit">
      <%= f.submit 'Login' %>
    </p>
  <% end %>
</div>

<div id="new_users">
  <h2>New users</h2>
  <p>
    <%= link_to "Sign up today", new_user_path %> to start maximising your
    agile team's potential.
  </p>
</div>
