<li>
  <% form_tag(session_path, :method => :put) do %>
    <%= hidden_field_tag :organisation_id, organisation.id, :id => nil %>
    <%= submit_tag h(organisation.name) %>
  <% end %>
  <p>
    <%= pluralize organisation.projects.count, "project" %>,
    <%= pluralize organisation.stories.count, "story" %>,
    <%= pluralize organisation.iterations.active.count, "active iteration" %>
  </p>
</li>
