<li>
<div class="section_container">
  <ul class="section_links">
    <li>
    <%= link_to 'Rename', [:edit, organisation] %>
    </li>
    <li>
    <%= link_to 'Members', [organisation, :members] %>
    </li>
  </ul>
  <div class="section">
    <h2><%= h organisation %></h2>
    <% if @current_user.organisations.many? %>
      <% form_tag(session_path, :method => :put) do %>
        <%= hidden_field_tag :organisation_id, organisation.id, :id => nil %>
        <%= submit_tag "Switch to this organisation" %>
      <% end %>
    <% end %>
    <p>
    Payment Plan: <%= h organisation.payment_plan.name %>,
    <%= number_to_currency organisation.payment_plan.price %> per month
    <%= render organisation.payment_plan %>
    </p>
    <p>
    <%= pluralize organisation.projects.count, "project" %>,
    <%= pluralize organisation.stories.count, "story" %>,
    <%= pluralize organisation.iterations.active.count, "active iteration" %>
    </p>
  </div>
</div>
</li>
