<% content_for :title, "Editing #{@organisation}" %>
<% content_for :h1, h("Editing #{@organisation}") %>
<% @non_organisation = true %>
<% content_for :breadcrumbs do %>
  <li class="account first-child"><%= link_to 'Account', @current_user %></li>
  <li><%= link_to 'Organisations', :organisations %></li>
  <li class="organisation"><%= h(@organisation) %></li>
  <li>Edit</li>
<% end %>

<% form_for @organisation do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'auto_focus' %>
  </p>
  <p class="submit">
  <%= f.submit 'Rename' %>
  </p>
<% end %>
