<% content_for :title, "New Organisation" %>
<% content_for :h1, "New Organisation" %>

<% form_for @organisation do |f| %>
  <%= f.error_messages %>
  <div>
    <p>
    Stories, projects and iterations are automatically shared with other members
    of your organisation. 
    </p>
    <p>
    You must give your organisation a name. It can be
    changed later.
    </p>
    <p>
    <%= f.label :name, 'Organisation name' %>
    <%= f.text_field :name, :class => 'auto_focus' %>
    </p>
  </div>
  <fieldset>
    <legend>Choose Payment Plan</legend>
    <p>
    Select a payment plan based on the needs of this organisation.
    </p>
    <p>
    You don't have to pay for anything just yet: a payment method can be added
    at any time before the end of the organisation's first month.
    </p>
    <p>
    For now though, let us know what you think you might use. It can be changed later.
    </p>
    <ol>
      <% @payment_plans.each_with_index do |plan, idx| %>
        <li id="plan_<%= idx %>">
          <label for="organisation_payment_plan_id_<%= plan.id %>">
          <%= f.radio_button :payment_plan_id, plan.id %>
          <span class="name"><%= h plan.name %></span>
          <span class="numeric"><%= render_price plan.price %> per month</span>
          </label>
          <%= render plan %>
          <div class="description">
            <%= simple_format plan.description %>
          </div>
        </li>
        <% end %>
      </ol>
    </fieldset>
    <p class="submit">
    <%= f.submit 'Create' %>
    </p>
  <% end %>
