<% content_for :title, "Create an account" %>
<% content_for :h1, "Create an account" %>
<% form_for @user do |f| %>
  <div>
    <p>
      <%= f.label :email_address %>
      <%= f.text_field :email_address, :class => 'auto_focus' %>
    </p>
    <p class="description">
      The email address is used to log in to the system. We will only use this
      address to send important account information.
      <strong>We will never send unsolicated emails to your email address
      or pass it on to third parties.</strong> 
      We take your privacy seriously &mdash;
      see our <%= link_to "privacy policy" %> for more details.
    </p>
  </div>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <div>
    <p>
      <%= f.label :organisation_name %>
      <%= f.password_field :organisation_name %>
    </p>
    <p class="description">
      Stories, projects and iterations are automatically shared with other
      members of your organisation. Once you have signed up you can add or
      remove members.
    </p>
  </div>
  <p class="submit">
    <%= f.submit 'Create account' %>
  </p>
<% end %>
