<%= form.error_messages %>
<p>
  <%= form.label :name %>
  <%= form.text_field :name, :class => 'auto_focus' %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_area :description, :rows => 3, :cols => 28 %>
</p>
