<% content_for :title, 'Edit Project' %>
<% content_for :h1, 'Edit Project' %>
<% content_for :breadcrumbs do %>
  <li class="first-child"><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to h(@project), @project %></li>
  <li>Edit</li>
<% end %>
<% form_for @project do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'auto_focus' %>
  </p>
  <p class="submit">
  <%= f.submit 'Update Project' %>
  </p>
<% end %>
