<% content_for :title, "#{@project} | Projects" %>
<% content_for :h1, h(@project) %>
<% content_for :actions do %>
<li><%= link_to "Edit", edit_project_path(@project) %></li>
<% end %>
<% content_for :breadcrumbs do %>
  <li class="first-child project"><%= h @project %></li>
<% end %>

<%= simple_format h(@project.description) %>

<div id="backlog" class="section_container">
  <%= link_to h("Full #{@project} backlog"), 
    backlog_project_stories_path(@project),
    :class => 'section' %>
  <div class="section">
    <h2>Backlog</h2>
    <% if @project.stories.backlog.empty? %>
      <p>
      This project has no backlog.
      </p>
    <% else %>
    <ol>
    <%= render @project.stories.backlog.all(:limit => 10) %>
    </ol>
    <% end %>
  </div>
</div>

<div id="iterations" class="section_container">
  <%= link_to("Plan an iteration", 
              new_project_iteration_path(@project),
              :class => 'section')
  %>
  <div class="section">
    <h2>Iterations</h2>
    <% if @project.iterations.empty? %>
      <div class="guidance">
        <p>
        This project has no iterations.
        </p>
      </div>
    <% else %>
      <% unless @project.iterations.active.empty? %>
        <div class="active">
          <h3>Active</h3>
          <ol>
            <%= render @project.iterations.active %>
          </ol>
        </div>
      <% end %>
      <% unless @project.iterations.pending.empty? %>
        <div class="planned">
          <h3>Planned</h3>
          <ol>
            <%= render @project.iterations.pending %>
          </ol>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
