<% content_for :title, "#{@project} | Projects" %>
<% content_for :h1, h(@project) %>
<% content_for :breadcrumbs do %>
  <li class="first-child"><%= link_to 'Projects', projects_path %></li>
  <li><%= h @project %></li>
<% end %>

<% unless @project.stories.empty? %>
<div id="iterations">
  <h2>Iterations</h2>
  <p>
  <%= link_to("Plan an iteration", 
              new_project_iteration_path(@project))
  %>
  </p>
  <% if @project.iterations.empty? %>
    <div class="guidance">
      <p>
      This project has no iterations.
      </p>
    </div>
  <% else %>
    <ol>
      <%= render(:partial => 'iterations/list_item', 
                 :collection => @project.iterations) %>
    </ol>
  <% end %>
</div>
<% end %>

<div id="stories">
  <h2>Stories</h2>
  <p>
  <%= link_to("Write a story", new_project_story_path(@project)) %>
  </p>
  <% if @project.stories.empty? %>
    <div class="guidance">
      <p>
      This project has no stories.
      </p>
    </div>
  <% else %>
    <ol>
      <%= render(:partial => 'stories/list_item', 
                 :collection => @project.stories) %>
    </ol>
  <% end %>
</div>

<p>
  <%= link_to "Edit", edit_project_path(@project) %>
</p>