<% content_for :title, "#{@project} | Projects" %>
<% content_for :h1, h(@project) %>
<% content_for :breadcrumbs do %>
  <li class="first-child"><%= link_to 'Projects', projects_path %></li>
  <li><%= h @project %></li>
<% end %>

<p>
<%= h(@project.description) %>
</p>

<h2>Stories</h2>
<ul>
  <li>
    <%= link_to "Stories which are still need to be worked on",
                project_stories_path(@project) %>
  </li>
  <li>
    <%= link_to "Stories which have previously been completed",
                finished_project_stories_path(@project) %>
  </li>
</ul>

<% unless @project.stories.empty? %>
<div id="iterations">
  <h2>Iterations</h2>
  <p>
  <%= link_to("Plan an iteration", 
              new_project_iteration_path(@project))
  %>
  </p>
  <% if @project.iterations.empty? %>
    <div class="guidance">
      <p>
      This project has no iterations.
      </p>
    </div>
  <% else %>
    <ol>
      <%= render(:partial => 'iterations/list_item', 
                 :collection => @project.iterations) %>
    </ol>
  <% end %>
</div>
<% end %>

<p>
  <%= link_to "Edit", edit_project_path(@project) %>
</p>