<li class="story" id="story_<%= estimate.id %>">
  <div class="display_and_estimate">
    <div class="display">
      <h3><%= h estimate.name %></h3>
      <div class="content">
        <%= simple_format estimate.content %>
        <% unless estimate.acceptance_criteria.empty? %>
          <ul class="acceptance_criteria">
            <% estimate.acceptance_criteria.each do |criterion| %>
              <li><%= h criterion %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="estimate">
      <%= label_tag "stories_#{estimate.id}_estimate", "Estimate" %>
      <%= text_field_tag("stories[#{estimate.id}][estimate]", 
                         estimate.estimate, 
                         :class => 'numeric', 
                         :size => 2) %>
    </div>
  </div>
  <div class="include">
    <%= check_box_tag("stories[#{estimate.id}][include]", 
                      '1', 
                      estimate.iteration_id?) %>
    <%= label_tag "stories_#{estimate.id}_include", "Include" %>
  </div>
</li>
