<p>
<%= form.label :name %>
<%= form.text_field :name, :class => 'auto_focus' %>
</p>
<p>
<%= form.label :content, 'The story' %>
<%= form.text_area :content, :rows => 5 %>
</p>
<p class="submit">
<%= form.submit 'Create Story' %>
</p>
