<li class="story" id="story_<%= story.id %>">
  <% if body_classes.include?('iteration_planning') %>
    <div class="include">
    <%= check_box_tag("stories[#{story.id}][include]", 
                      '1', 
                      story.iteration_id? || (@iteration && @iteration.stories.include?(story))) %>
    <%= label_tag "stories_#{story.id}_include", "Include" %>
    </div>
  <% end %>
  <div class="content">
    <div class="header">
    <h3><%= link_to h(story), [story.project, story.iteration, story] %></h3>

    <% if body_classes.include?('iteration_planning') %>
      <%= render :partial => 'stories/estimating_story', :object => story %>
    <% elsif story.estimate? %>
      <p class="estimate">Story Points: <%= story.estimate %></p>
    <% end %>

    </div>
    <%= story_format story.content %>
  </div>

  <% if (!body_classes.include?('iteration_active') &&
         !story.acceptance_criteria.empty?) %>
    <div class="acceptance_criteria">
      <h4>Acceptance Criteria</h4>
      <ul>
        <% story.acceptance_criteria.each do |criterion| %>
          <li><%= h criterion %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if story.iteration && story.iteration.active? %>
    <% form_for [story.project, story.iteration, story] do |form| %>
      <%= render :partial => 'stories/status_form', :object => form %>
    <% end %>
  <% end %>

  <% if controller.action_name == 'backlog' %>
    <%= render :partial => 'stories/prioritising_story', :object => story %>
  <% end %>
</li>
