<li class="story" id="story_<%= story.id %>">
  <div class="content">
    <h3><%= link_to h(story), [story.project, story.iteration, story] %></h3>
    <% if story.estimate? %>
      <p class="estimate">Story Points: <%= story.estimate %></p>
    <% end %>
    <%= story_format story.content %>
  </div>

  <% unless story.acceptance_criteria.empty? %>
    <div class="acceptance_criteria">
      <h4>Acceptance Criteria</h4>
      <ul>
        <% story.acceptance_criteria.each do |criterion| %>
          <li><%= h criterion %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if story.iteration && story.iteration.active? %>
    <% form_for [story.project, story.iteration, story] do |form| %>
      <ol>
        <li>
        <%= form.radio_button(:status, 'pending', 
                              :id => "story_status_pending_#{story.id}") %>
        <%= form.label "status_pending_#{story.id}", 'Pending' %>
        </li>
        <li>
        <%= form.radio_button(:status, 'in_progress',
                              :id => "story_status_in_progress_#{story.id}") %>
        <%= form.label "status_in_progress_#{story.id}", 'In Progress' %>
        </li>
        <li>
        <%= form.radio_button(:status, 'testing',
                              :id => "story_status_testing_#{story.id}") %>
        <%= form.label "status_testing_#{story.id}", 'Testing' %>
        </li>
        <li>
        <%= form.radio_button(:status, 'complete',
                              :id => "story_status_complete_#{story.id}") %>
        <%= form.label "status_complete_#{story.id}", 'Complete' %>
        </li>
      </ol>
      <p class="submit">
      <%= form.submit 'Update Status', :id => nil %>
      </p>
    <% end %>
  <% end %>

  <% if controller.action_name == 'backlog' %>
    <p>
    <%= label_tag "priorities_#{story.id}", 'Priority' %>
    <%= text_field_tag("project[priorities[#{story.id}]]", 
                       story.priority,
                       :id => "priorities_#{story.id}",
                       :class => 'numeric',
                       :size => 2) %>
    </p>
  <% end %>
</li>
