<li class="story" id="story_<%= story.id %>">
  <div class="content">
    <div class="header">
    <h3><%= link_to h(story), [story.project, story.iteration, story] %></h3>
    <% if story.estimate? %>
      <p class="estimate">Story Points: <%= story.estimate %></p>
    <% end %>
    </div>
    <%= story_format story.content %>
  </div>

  <% unless story.acceptance_criteria.empty? %>
    <div class="acceptance_criteria">
      <h4>Acceptance Criteria</h4>
      <ul>
        <% story.acceptance_criteria.each do |criterion| %>
          <li><%= h criterion %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if story.iteration && story.iteration.active? %>
    <% form_for [story.project, story.iteration, story] do |form| %>
      <%= render :partial => 'stories/status_form', :object => form %>
    <% end %>
  <% end %>

  <% if controller.action_name == 'backlog' %>
    <%= render :partial => 'stories/prioritising_story', :object => story %>
  <% end %>
</li>
