<li id="story_<%= story.id %>">
  <%= link_to h(story), [story.project, story] %>

  <% if story.estimate? %>
  <p class="estimate">Story Points: <%= story.estimate %></p>
  <% end %>

  <%= story_format story.content %>

  <% if controller.action_name == 'backlog' %>
    <p>
    <%= label_tag "priorities_#{story.id}", 'Priority' %>
    <%= text_field_tag("project[priorities[#{story.id}]]", 
                       story.priority,
                       :id => "priorities_#{story.id}",
                       :class => 'numeric',
                       :size => 2) %>
    </p>
  <% end %>
</li>
