<% content_for :title, "New Story for #{@project}" %>
<% content_for :h1, h("New Story for #{@project}") %>
<% content_for :breadcrumbs do %>
  <li class="first-child"><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to h(@project), @project %></li>
  <li>Stories</li>
  <li>New</li>
<% end %>
<% form_for [@project, @story] do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'auto_focus' %>
  </p>
  <p>
  <%= f.label :content, 'The story' %>
  <%= f.text_area :content %>
  </p>
  <p class="submit">
  <%= f.submit 'Create Story' %>
  </p>
<% end %>
