<% content_for :title, "#{@story} | #{@project} Stories" %>
<% content_for :h1, "Story ##{@story.id}" %>
<% content_for :actions do %>
<li><%= link_to 'Edit', [:edit, @project, @story.iteration, @story] %></li>
<% end %>
<% content_for :breadcrumbs do %>
  <%= story_breadcrumbs @story %>
  <li class="story"><%= h @story %></li>
<% end %>

<div class="<%= story_classes @story %>">
  <div class="content">
    <div class="header">
      <h3><%= h @story %></h3>
      <% if @story.estimate? %>
        <p class="estimate" title="Story Points"><span>Story Points:</span> <%= @story.estimate %></p>
      <% end %>
    </div>
    <%= story_format @story.content %>
  </div>
</div>

<% if @story.iteration && @story.iteration.active? %>
  <div id="users">
    <h2>Story Team</h2>
    <% unless @story.team_members.empty? %>
      <ul>
      <%= render @story.team_members %>
      </ul>
    <% end %>

    <% unless @story.users.include?(@current_user) %>
      <% form_for StoryTeamMember.new(:story => @story) do |f| %>
        <p class="submit">
        <%= f.hidden_field :story_id %>
        <%= f.submit 'Work on this story' %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="acceptance_criteria">
  <h2>Acceptance Criteria</h2>
  <% form_for [@project, @story, AcceptanceCriterion.new], :html => { :class => "add" } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :criterion, 'New Criterion' %>
      <%= f.text_field :criterion, :class => 'auto_focus', :size => 20 %>
      <%= f.submit 'Add' %>
    </p>
  <% end %>

  <div class="content">
    <%= render :partial => 'acceptance_criteria/list' %>
  </div>
</div>

<% if @story.iteration_id.blank? || @story.iteration.pending? %>
  <div id="next_steps">
    <h2>Next Steps</h2>
    <ul>
      <li>
      <%= link_to 'Add new story', contextual_new_story_path %>
      </li>
      <li>
      <%= link_to h("#{@project} Backlog"), backlog_project_stories_path(@project) %>
      </li>
    </ul>
  </div>
<% end %>
