<% if @story.acceptance_criteria.empty? %>
  <p class="guidance">
    This story has no acceptance criteria.
  </p>
<% else %>
  <table>
    <% @story.acceptance_criteria.each do |criterion| %>
      <tr class="display">
        <td class="complete">
          <% form_for [@project, @story, criterion] do |f| -%>
            <%= hidden_field_tag "acceptance_criterion[complete]", ! criterion.complete? %>
            <%= f.submit(criterion.complete? ? "Uncomplete" : "Complete") %>
          <% end -%>

        </td>
        <td><%= h criterion %></td>
        <td class="edit"><%= link_to 'Edit',
            edit_project_story_acceptance_criterion_url(@project, @story, criterion)
        %></td>
        <td class="delete"><%= button_to 'Delete', [@project, @story, criterion],
          :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>
