<% content_for :title, @acceptance_criterion %>
<% content_for :h1, h(@acceptance_criterion) %>
<% content_for :breadcrumbs do %>
  <li class="first-child project"><%= link_to h(@project), @project %></li>
  <li class="story"><%= link_to h(@story), [@project, @story] %></li>
  <li class="acceptance_criterion"><%= h @acceptance_criterion %></li>
  <li>Edit</li>
<% end %>

<% form_for [@project, @story, @acceptance_criterion] do |f| %>
  <p>
  <%= f.label :criterion %>
  <%= f.text_field :criterion, :class => 'auto_focus' %>
  <%= f.submit 'Update' %>
  </p>
<% end %>

