<%= form.error_messages %>
<p>
<%= form.label :name %>
<%= form.text_field :name %>
</p>
<p>
<%= form.label :duration, 'Duration (days)' %>
<%= form.text_field :duration, :class => 'numeric', :size => 2 %>
</p>

<div id="stories">
  <div class="section" id="stories_available">
    <h2>Backlog</h2>
    <ol>
    <% @stories.each do |story| %>
    <li class="story" id="story_<%= story.id %>">
      <div class="display">
        <h3><%= h story.name %></h3>
        <div class="content"><%= simple_format story.content %></div>

        <% unless story.acceptance_criteria.empty? %>
          <ul class="acceptance_criteria">
            <% story.acceptance_criteria.each do |criterion| %>
              <li><%= h criterion %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="estimate">
        <%= label_tag "stories_#{story.id}_estimate", "Estimate" %>
        <%= text_field_tag("stories[#{story.id}][estimate]", 
                           story.estimate, 
                           :class => 'numeric', 
                           :size => 2) %>
      </div>

      <div class="include">
        <%= check_box_tag("stories[#{story.id}][include]", 
                          '1', 
                          @iteration.stories.include?(story)) %>
        <%= label_tag "stories_#{story.id}_include", "Include" %>
      </div>
    </li>
    <% end %>
    </ol>
  </div>
</div>
