<% content_for :title, "Active Iterations" %>
<% content_for :h1, "#{h @current_organisation.name} Iterations" %>
<% breadcrumbs 'Active Iterations' %>
<% content_for :actions do %>
  <li><%= link_to "Finished", finished_iterations_path %></li>
  <li><%= link_to "Planned", planned_iterations_path %></li>
<% end %>

<% if @iterations.empty? -%>
  <p>
    This page only shows active iterations.
  </p>
  <p>
    There are currently no active iterations for <%= h @current_organisation %>.
  </p>
  <% unless @current_organisation.projects.empty? %>
  <%= render :partial => 'iterations/new' %>
  <% end %>
<% else -%>
  <div id="iterations" class="section_container">
    <div class="section">
      <h2>Active</h2>
      <div class="active">
        <% width = @iterations.size == 1 ? 600 : 300 -%>
        <% height = @iterations.size == 1 ? 450 : 225 -%>
        <ul>
          <%= render @iterations, :width => width %>
        </ul>
      </div>
    </div>
  </div>
<% end -%>
