<% content_for :title, "#{@iteration}" %>
<% content_for :h1, h(@iteration) %>
<% content_for :breadcrumbs do %>
  <li class="project"><%= link_to h(@iteration.project), @iteration.project %></li>
  <li class="iteration"><%= h @iteration %></li>
<% end %>
<% body_classes << 'iteration_active' %>

<div id="stories">
  <h2>Stories</h2>
  <ol class="stories">
    <%= render @iteration.stories %>
  </ol>
</div>

<div id="burndown">
  <%= image_tag(iteration_burndown_path(@iteration, :width => 350), 
                :alt => 'Burndown Chart',
                :width => 350) %>
  <p id="time_remaining">
  <% if @iteration.finished? %>
  This iteration finished on <%= l @iteration.end_date %>.
  <% else %>
  This iteration ends in <%= pluralize @iteration.days_remaining, 'day' %> 
  on <%= l @iteration.end_date %>.
  <% end %>
  </p>
</div>

