<% content_for :title, "#{@iteration}" %>
<% content_for :h1, h(@iteration) %>
<% content_for :breadcrumbs do %>
  <li class="first-child project"><%= link_to h(@iteration.project), @iteration.project %></li>
  <li class="iteration"><%= h @iteration %></li>
<% end %>

<div>
  <%= image_tag(iteration_burndown_path(@iteration), 
                :alt => 'Burndown Chart',
                :width => 600,
                :height => 450,
                :id => "burndown") %>
</div>

<p id="time_remaining">
<% if @iteration.finished? %>
This iteration finished on <%= @iteration.end_date %>.
<% else %>
This iteration ends in <%= pluralize @iteration.days_remaining, 'day' %> 
on <%= @iteration.end_date %>.
<% end %>
</p>

<div id="stories" class="section">
  <h2>Stories</h2>
  <ol id="stories_list">
    <%= render :partial => 'stories/changeable_story',
               :collection => @iteration.stories %>
  </ol>
</div>
