<% content_for :title, "#{@iteration} | #{@project} Iterations" %>
<% content_for :h1, h(@iteration) %>
<% content_for :actions do %>
<li><%= link_to 'Re-plan', edit_project_iteration_path(@project, @iteration) %></li>
<% end %>
<% breadcrumbs link_to(h(@project), @project), h(@iteration) %>

<% form_for(@iteration, 
            :url => iteration_active_iteration_path(@iteration),
            :html => {:method => :post}) do |f| %>
  <p class="submit">
  <%= f.submit 'Start Iteration' %>
  </p>
  <%= f.error_messages %>
<% end %>

<div class="section_container">
<div class="section">
<h2>Stories</h2>
<% if @iteration.stories.empty? %>
  <p>
  This iteration does not have any stories.
  </p>
<% else %>
  <p class="estimate total">
  Total Story Points: <%= @iteration.stories.sum(:estimate) %>
  </p>
  <ol class="stories">
    <%= render @iteration.stories %>
  </ol>
<% end %>
</div>
</div>

