<% content_for :title, "#{@iteration}" %>
<% content_for :h1, h(@iteration) %>
<% content_for :breadcrumbs do %>
  <li class="first-child project"><%= link_to h(@iteration.project), @iteration.project %></li>
  <li class="iteration"><%= h @iteration %></li>
<% end %>

<div>
  <%= image_tag(iteration_burndown_path(@iteration), 
                :alt => 'Burndown Chart',
                :width => 600,
                :height => 450) %>
</div>

<p id="time_remaining">
  This iteration ends in <%= @iteration.days_remaining %> days on
  <%= @iteration.end_date.to_s(:default) %>
</p>

<div class="section">
  <h2>Stories</h2>
  <ol id="stories_list">
    <%= render :partial => 'stories/changeable_story',
               :collection => @iteration.stories %>
  </ol>
</div>
