<% unless defined? short %>
<h3>Payment Plan: <%= h payment_plan.name %></h3>
<p>
<%= number_to_currency payment_plan.price %> per month
</p>
<% end %>
<ul class="limits">
  <li><%= pluralize payment_plan.active_iteration_limit, 'active<br />iteration' %></li> 
  <li><%= pluralize payment_plan.user_limit, 'user' %></li> 
  <li><%= pluralize payment_plan.project_limit, 'project' %></li> 
</ul>
