<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <%= landing_stylesheet_link_tag %>
    <title><%= yield :title %> | Simply Agile</title>
  </head>

  <body class="non_session <%= body_classes.join(' ') %>" id="<%=
        "#{controller.controller_name}_#{controller.action_name}" %>">
    <div id="container">
      <div id="header">
        <p>Simply Agile - A Simple Tool for Effective Agile Teams</p>
      </div>
      <div id="content">
        <div id="main">
          <h1><%= yield :h1 %></h1>
          <p class="back">
          <%= link_to "Back to home page", root_path %>
          <%= yield :back %>
          </p>
          <%= yield %>
          <p class="back">
          <%= link_to "Back to home page", root_path %>
          <%= yield :back %>
          </p>
        </div>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>
    <%= google_analytics_tag 'UA-4141244-3' %>
  </body>

</html>
