<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <%= stylesheet_link_tag('reset-fonts', 
                            'landing/layout', 
                            'landing/typography', 
                            'landing/colours', 
                            :cache => 'landing') %>
    <title><%= yield :title %></title>
  </head>

  <body class="non_session <%= body_classes.join(' ') %>" id="<%=
        "#{controller.controller_name}_#{controller.action_name}" %>">
    <div id="container">
      <div id="header">
        <p>Simply Agile - A Simple Tool for Effective Agile Teams</p>
      </div>
      <div id="content">
        <div id="main">
          <h1><%= yield :h1 %></h1>
          <%= yield %>
        </div>
        <div id="sign_up_login">
        <%= link_to image_tag('try_it_free.png', 
          :alt => 'TRY IT FREE!'), new_user_path %>
          <p>
          <%= link_to "Existing user login", new_session_path %>
          </p>
        </div>
        <%= yield :images %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>
    <%= google_analytics_tag 'UA-4141244-3' %>
  </body>

</html>
